<div class="control-section">
    <div align='center'>
        <ejs-heatmap id='container' style="display:block;" [height]='height' [titleSettings]='titleSettings' [dataSource]='dataSource' [xAxis]='xAxis'
            [yAxis]='yAxis' [paletteSettings]='paletteSettings' [cellSettings]='cellSettings' [legendSettings]='legendSettings'
            (load)='load($event)' (tooltipRender)='tooltipRender($event)'>
        </ejs-heatmap>
    </div>
</div>

<div>



<style>
    #control-container {
        padding: 0px !important;
    }
</style>